@font-face {
  font-family: "pt sans";
  src: url("../fonts/ptsans.woff") format("woff"),
  url("../fonts/ptsans.woff2") format("woff2");
  font-weight: normal;
}
@font-face {
  font-family: "pt sans";
  src: url("../fonts/ptsansbold.woff") format("woff"),
  url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: bold;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: "pt sans", arial, sans-serif;
  font-weight: normal;
}
.main-container{
  background-color: #ffffff;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 5px 15px 0 rgba(0,1,1,0.2);
}
.main-navigation {
  font-weight: bold;
  font-size: 14px;
  position: relative; 
  padding: 0 72px;
}
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.nav-element {
  width: 243px;
  padding: 20px 0;
}
.nav-element a:hover {
  color: #81b3d2;
}
.nav-element a:active {
  color: #cacaca;
}
.nav-left {
  text-align: left;
}
.nav-right {
  text-align: right;
}
.nav-element a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.nav-mar {
  margin-left: 85px;
}
.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.btn {
  text-decoration: none;
  border: none;
}
.btn-choose-date {
  font-weight: bold;
  font-size: 21px;
  text-transform: uppercase; 
  color: #ffffff;
  background-color: #766357;
  height: 86px; 
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}
.btn-choose-date:hover {
  background-color: #604e43;
}
.btn-choose-date:active {
  background-color: #503e33;
  color: #928a85;
}
.btn-choose-date:focus ~ .search-form,
.btn-choose-date:active ~ .search-form,
.search-form:hover {
  display: block;
}
.btn-search {
  font-weight: bold;
  font-size: 21px; 
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  height: 58px; 
  width: 100%;
  margin-top: 24px;
  padding: 0;
}
.btn-search:hover {
  background-color: #669ec0;
}
.btn-search:active {
  background-color: #5496bd;
  color: #94b9d2;
}
.btn-details {
  font-weight: bold;
  font-size: 14px; 
  color: #ffffff;
  background-color: #81b3d2;
  padding: 6px 16px;
  display: inline-block;
  text-align: center;
  vertical-align: center;
}
.btn-reservation {
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  background-color: #766357;
  padding: 6px 16px;
  display: inline-block;
  text-align: center;
  vertical-align: center; 
}
.btn-details:hover {
  background-color: #669ec0;
}
.btn-reservation:hover {
  background-color: #604e43;
}
.btn-details:active {
  background-color: #5496bd;
  color: #85b0cd;
}
.btn-reservation:active {
  background-color: #503e33;
  color: #928a85;
}
.btn-up {
  background-color: transparent;
}
.btn-down {
  background-color: transparent;
  margin-left: 12px;
}
.btn-down svg {
  fill: #81b3d2;
}
.btn-up svg {
  fill: #cacaca;
}
.btn-up:hover svg,
.btn-down:hover svg {
  fill: #000000;
}
.btn-up:active svg,
.btn-down:active svg {
  fill: #81b3d2;
}
.btn-calendar svg {
  fill: #cacaca; 
  background-color: #f2f2f2;
}
.btn-calendar:hover svg {
  fill: #000000;
}
.btn-calendar:active svg {
  fill: #81b3d2;
}
.btn-calendar:focus { 
  outline: none;
    /*outline-color: 1px solid #f2f2f2; */
}
.btn-calendar {
  background-color: #f2f2f2;
  height: 38px;
  width: 38px;
  padding: 0;
  position: absolute;
}
.btn-plus,
.btn-minus {
  color: #a9a9a9;
  padding: 0;
  width: 38px;
  background-color: #f2f2f2;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 26px;
}
.btn-plus:hover,
.btn-minus:hover {
  color: #000000;
}
.btn-plus:active,
.btn-minus:active {
  color: #81b3d2;
}
.btn-plus:focus,
.btn-minus:focus {
  outline: none;
}
.checkbox-btn {
  background-color: transparent;
  display: none;
}
.checkbox-name {
  position: relative;
} 
.checkbox-list .checkbox-name {
  padding-left: 41px;
}
.checkbox-name::before { 
  content: url(../img/checkbox-off.svg);
  position: absolute;
  top: -4px;
  left: 0;
}
.checkbox-btn:checked ~ .checkbox-name::before {
  content: url(../img/checkbox-on.svg);
}
.chbx-head {
  margin-bottom: 30px;
}
.checkbox-list li {
  padding-bottom: 30px;
}
.btn-show {
  background-color: transparent;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  margin-left: 85px;
}
.btn-show:hover {
  background-color: #ffffff;
  color: #000000;
}
.layout-filter-button {
  position: relative;
  height: 34px;
  width: 318px;
}
.scale-opacity {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
}
.scale-color {
  content: "";
  height: 2px;
  width: 80%;
  background-color: #ffffff;
  position: absolute;
}
.filter-btn-price {
  display: flex;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  width: 318px;
  height: 36px;
  margin-bottom: 20px;
  align-items: center;
  padding-left: 67px;
  position: relative;
}
.flt-min {
  left: 0;
}
.flt-max {
  left: 80%;
}
.filter-btn {
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  bottom: 18px;
}
.filter-btn-price::before {
  content: "";
  height: 22px;
  width: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 50%
}
.flt-head {
  margin-bottom: 14px;
}
.min-price-inp,
.max-price-inp {
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: #ffffff;
  width: 70px;
  padding-left: 4px;
}
.min-price-inp:active,
.max-price-inp:active {

}

.max-price {
  margin-left: 54px;
}
.logo {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -70px;
  height: auto;
  width: 140px;
  z-index: 1;
}
.logo img {
  display: block;
  height: auto;
  width: 100%;
}

.layout-block-last {
  display: flex;
}
.search-form-text {
  font-weight: bold;
  font-size: 14px;
}
.search-form-main {
  position: relative;
  margin: 0 auto;
  width: 568px;
}
.search-form {
  /*display: none;*/
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 55px;
  background-color: #ffffff;
}
.search-form-row {
  display: flex;
  margin-bottom: 30px;
  height: 38px;
  align-items: center;
}
.search-form-row label {
  width: 112px;
  text-align: start;
  letter-spacing: 0.3px;
}
.search-form-row .lbl-middle {
  width: 91px;
  text-align: right;
  padding-right: 27px;
}
.search-form-number {
   display: flex;
}
.choose {
  font-weight: bold;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 23px;
}
.choose-input {
  text-align: center;
}
.choose-text {
  margin: 0;
  line-height: 24px;
}
.choose-wrapper {
  padding-bottom: 50px;
  padding-top: 50px;
}
.input-calendar input,
.input-age input {
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border: none;
  background-color: #f2f2f2;
  width: 308px;
  padding: 0;
}
.input-age input {
  width: 38px;
  text-align: center;
}
.input-age {
  display: flex;
  height: 38px;
}
.input-calendar input {
  height: 38px;
  padding: 0;
  position: relative;
  padding-left: 13px;
  box-sizing: border-box;
}
.input-calendar input:hover {
  background-color: #ebebeb;
}
.input-calendar input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;  
}
.input-calendar 
.advantages-title,
.advantages-headline,
.search-results-headline,
.search-head-result,
.hashtag {
  font-weight: bold;
  font-size: 21px;
}
.layout-search-pic img {
  display: block;
  width: 135px;
  height: auto;
}
.search-result:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.search-result {
  display: flex;
  border-top: 1px solid #e5e5e5;
  padding: 0 72px;
  max-width: 100%; 
  margin: 0; 
  align-items: flex-start;
}
.search-head {
  display: flex;
  padding: 0 72px;
  max-width: 100%; 
  margin: 0; 
}
.layout-search-head h2,
.layout-sorting p {
  margin: 0;
}
 .sorting-btn,
 .layout-icons-up-down button { 
  padding: 0;
}
.layout-search-head {
 display: block;
 padding: 31px 50px 33px 0;
}
.layout-sorting {
  display: flex;
  padding: 31px 0 33px 0;
  align-items: center;
}
.layout-icons-up-down {
  display: flex;
  padding: 31px 0 33px 0;
  margin-left: auto; 
}
.results-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.layout-search-pic {
  display: block;
  box-sizing: border-box;
  padding: 27px 30px 32px 0;
  vertical-align: middle;

}
.layout-search-text {
  display: block;
  box-sizing: border-box;
  width: 780px;
  padding: 27px 0 32px 0;

}
.layout-search-text h2 {
  margin-top: -3px;
  margin-bottom: 9px;
  letter-spacing: 0.3px;
}
.layout-search-text .search-results-headline {
  text-decoration: none;
  color: #000000;
}
.search-results-headline:hover {
  color: #81b3d2;
}
.search-results-headline:active {
  color: #cacaca;
}
.layout-hotel {
  display: inline-block;
  margin-right: 6px;
  vertical-align: bottom;
}
.layout-price {
  display: inline-block;
  vertical-align: bottom;
}
.search-block {
 margin: 0 0 15px;
 line-height: 18px;
}
.layout-search-star {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-end;
  width: 110px;
  padding: 27px 0 32px 0;
}
.star-icon {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}
.star {
  display: flex;
  justify-content: flex-end;
  margin-right: -3px;
  margin-bottom: 44px;
}
.search-result-rating {
  margin: 0;
  background-color: #f2f2f2;
  padding: 5px 13px; 
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
  width: 110px;
}
.sorting {
	font-size: 12px;
  padding-right: 7px;
}
.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.sorting-btn.selected {
  border: none;
  color: #81b3d2;
}
.sorting-btn {
  font-size: 12px;
  text-transform: uppercase;
  color: #cacaca;
  background-color: transparent;
  margin-left: 33px;
  border-bottom: 1px dotted #cacaca;
  line-height: 15px;
}
.sorting-btn:hover { 
  border-bottom: 1px dotted #81b3d2;
  color: #81b3d2;
}
.sorting-btn:active {
  border: none;
  color: #000000;
}
.intro {
  height: 508px;
  max-width: 100%;
	background-color: #bcbcb8;
	background-image: url("../img/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; 
  margin: auto;
  position: relative;
  padding-top: 76px;
  padding-bottom: 80px;
  min-height: auto;
  box-sizing: border-box;
}
.intro::before {
  content: "";
  height: 57px;
  width: 1200px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-size: 100% auto; 
  position: absolute;
  bottom: 0;
}
.welcome {
  display: block;
  height: 350px;
  width: 460px;
  margin-left: auto;
  margin-right: auto;
}
.layout-advantages {
  width: 400px;
  text-align: center;
  padding: 60px 50px 83px 50px;
  box-sizing: border-box;
}
.adv-icon-3 {
  padding-top: 56px;
}
.icon-1 {
  width: 75px;
  height: 72px;
  margin-bottom: 22px;
  /*margin: 60px 162px 29px 162px;*/
}
.icon-2 {
  width: 74px;
  height: 70px;
 /* margin: 60px 159px 29px 164px;*/
  margin-bottom: 24px;
}
.icon-3 {
  width: 64px;
  height: 76px;
  /*margin: 60px 168px 29px 172px;*/
  margin-bottom: 22px;
}
.advantages {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 21px;
  counter-reset: advantages-block;
  display: flex;
  flex-wrap: wrap;
}
.advantages-block::before {
  content: "— №"counter(advantages-block)" —";
  counter-increment: advantages-block;
  margin-bottom: 17px;
}
.advantages-block {
  color: #ffffff;
	background-color: #81b3d2;
  width: 400px;
  text-align: center;
  position: relative;
  padding-top: 46px;
  padding-bottom: 63px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.advantages-mini {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.advantages-block.block-last {
	background-color: #eeeeee;
  width: 400px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
}
.advantages-text {
  width: 274px;
  margin: 0 63px;
}
.advantages-text.adv-text {
  width: 302px;
  margin: 0 49px;
}
.advantages-text.adv-last-text {
  width: 258px;
  margin: 0 71px;
}
.adv-block-headline {
  width: 151px;
  margin: 0 auto 25px auto;
  order: -1;
}
.adv-title-head {
  text-align: center;
  padding-bottom: 52px;
  line-height: 26px;
  letter-spacing: 0.3px;
}
.adv-title-head p {
  margin: 0;
}
.advantages-title {
  width: 500px;
  padding-top: 60px;
  font-size: 21px;
  font-weight: bold;
  margin: 0 auto 27px auto;
}
.adv-mini {
  margin-top: 0;
  margin-bottom: 24px;
}
.advantages-mini-text {
  margin: 0;
  width: 300px;
}
.housing-headline {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  margin-top: 27px;
}
.choose-housing {
  max-width: 100%;
  padding-bottom: 4px;
  color:#ffffff;
  background-color: #666666;
  background-image: url("../img/background-2.jpg");
  background-repeat: no-repeat;
  margin: auto; 
}
.checkbox-list {
  list-style:none;
  margin: 0;
  padding: 0;
}
.layout-housing-main {
  display: flex;
  padding: 0 72px; 
  height: 100%;
}
.layout-housing {
  display: block;
  width: 240px;
}
.housing-middle {
  margin-left: 30px;
}
.layout-housing-right {
  display: flex;
  flex-direction: column;
  width: 325px;
  margin-left: 260px;
}
.advantages-picture-1 {
  background-repeat: no-repeat;
  width: 800px;   
  background-color: #81b3d2;            
}
.advantages-picture-2 {
  background-repeat: no-repeat;
  width: 800px;  
  background-color: #81b3d2;
}
.advantages-picture-1 img,
.advantages-picture-2 img {
  display: block;
  height: 256px; 
  width: auto;
}
.layout-advantages-1 {
  display: flex;
  flex-direction: row-reverse;
}
.layout-advantages-2 {
  display: flex;
}
.networks-row {
  margin: 3px;
}
.networks-icon {
  background-color: #81b3d2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  text-align: center;
}
.networks-icon svg {
  fill: #ffffff;
}
.networks-icon:hover {
  background-color: #669ec0;
}
.networks-icon:active {
  background-color: #5496bd;
}
.networks-icon:active svg {
  fill: #88b6d1; 
}
.layout-footer.main-footer {
  position: absolute; 
  bottom: 0;
  left: 0;
  right: 0;
}
.layout-footer {
  display: flex;
  box-sizing: border-box;
  /*height: 120px;*/
  width: auto;
  padding-top: 33px;
  padding-bottom: 38px;
  background-color: rgba(255, 255, 255, 0.9); 
}
.networks {
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.hashtag {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.layout-dev {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.dev-text {
  padding-right: 8px;
}
.dev-logo:hover svg {
  fill: #81b3d2; 
}
.dev-logo:active svg {
  fill: #bdbbbc;
}
.dev-logo svg {
  width: 115px;
  height: 41px;
}
.hotels-selected a {
  color: #766357;
}


